<div class="col-lg-10 mx-auto mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Edit Accommodation</h2>
    </div>
    <div class="card-body">
      <%= render 'form', accommodation: @accommodation %>
    </div>
  </div>
</div>