<%# <div class="fixed-bottom mt-5">
  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3 bg-light text-dark" >
      © 2024 Copyright %>
      <%# <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a> %>
    <%# </div>
  </footer>
</div> %>

