<div class="container mt-4">
  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3 bg-dark text-light" >
      © 2024 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div>