<footer class="col-lg-10 mx-auto mt-3 bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-light" >
    © 2024 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>