<%# <div class="mt-5">
  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3 bg-light text-dark" >
      © 2024 Copyright
      <ul class="list-group mt-4">
        <% @states.each do |state| %>
          <%# <li class="list-group-item bg-body-tertiary d-flex justify-content-between align-items-center"> %>
            <%#= link_to state, places_in_state_path(state), class: "text-decoration-none" %>
          <%# </li> %>
        <%# end %>
      <%# </ul>
    </div>
  </footer>
</div> %>

