<section class="about-one">
  <div class="container">
    <div class="row">
      <div class="animated fadeInLeft col-xl-6">
        <div class="about-one__left">
          <div class="about-one__img-box">
            <div class="about-one__img">
              <%= image_tag 'about-one-img-1.png' %>
            </div>
            <div class="about-one__call">
              <div class="about-one__call-icon">
                <span class="icon-phone-call"></span>
              </div>
              <div class="about-one__call-number">
                <p>Book Tour Now</p>
                <h4>
                  <a href="#">666-888-0000</a>
                </h4>
              </div>
            </div>
            <div class="about-one__discount">
              <h2>30%</h2>
              <h3>Discount</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="about-one__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">Get to know us</span>
            <h2 class="section-title__title">Plan Your Trip with us</h2>
          </div>
          <p class="about-one__right-text">There are many variations of passages of available but the majority have suffered alteration in some form, by injected hum randomised words which don't look even slightly.</p>
          <ul class="list-unstyled about-one__points">
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Invest in your simply neighborhood</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Support people in free text extreme need</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Largest global industrial business community</p>
              </div>
            </li>
          </ul>
          <%# <a href="#" class="about-one__btn thm-btn">Book with us now</a> %>
        </div>
      </div>
    </div>
  </div>
</section>