<section class="why-choose">
  <div class="why-choose__container">
    <div class="why-choose__left">
      <div class="why-choose__left-bg" style="background-image:url('<%= asset_path 'pool1.webp' %>')"></div>
      <div class="why-choose__toggle">
        <p>
          <span> Tourist </span>
          <br>
          <span> Places</span>
          <br>
        </p>
      </div>
    </div>
    <div class="why-choose__right">
      <div class="why-choose__right-content">
        <div class="section-title text-left">
          <span class="section-title__tagline">Our benefit lists</span>
          <h2 class="section-title__title">Why Choose Us</h2>
        </div>
        <p class="why-choose__right-text">There are many variations of passages of Lorem Ipsum is simply free text available in the market for you, but the majority have suffered alteration in some form.</p>
        <ul class="list-unstyled why-choose__list">
          <li>
            <div class="icon">
              <span class="icon-travel"></span>
            </div>
            <div class="text">
              <h4>Professional and Certified</h4>
              <p>Lorem ipsum is simply free text dolor sit but the majority have suffered amet, consectetur notted.</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <span class="icon-travel-map"></span>
            </div>
            <div class="text">
              <h4>Get Instant Tour Bookings</h4>
              <p>Lorem ipsum is simply free text dolor sit but the majority have suffered amet, consectetur notted.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>