<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.pixabay.com/photo/2018/03/11/19/04/desert-3217765_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2018/03/11/19/04/desert-3217765_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2018/03/11/19/04/desert-3217765_1280.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section class="destinations-one">
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">Destination lists</span>
      <h2 class="section-title__title">Go Exotic Places</h2>
    </div>
    <div class="masonary-layout row">
      <% if @places.present? %>
        <% @places.each do |place| %>
        <div class="col-xl-6 col-lg-6">
          <div class="destinations-one__single">
            <div class="destinations-one__img">
              <% if place.image_url.present? %>
                <%= image_tag place.image_url, class: "img-fluid rounded", style: 'max-height: 300px;' %>
              <% end %>
              <div class="destinations-one__content">
                <h2 class="destinations-one__title">
                  <%= link_to place_path(place) do %>
                    <%= place.name %>
                  <% end %>
                </h2>
              </div>
              <div class="destinations-one__button">
                <%= link_to "View", place_path(place) %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <h3 class="text-center text-danger border">No Place Found.</h3>
      <% end %>  
    </div>
  </div>
</section>


