<div class="col-lg-10 mx-auto mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Add New Place</h2>
    </div>
    <div class="card-body">
      <%= render 'form', place: @place %>
    </div>
  </div>
</div>